// ===== Responsive Styles ===========================================================================
// Author: Akbar Khrisna (Pinest Design - http://twitter.com/pinestdesign - pinestdesign@gmail.com)
// 13 September 2014
// Info: All adaptive styling, all style starts from mobile style and gradually expand to bigger screens
// ================================================================================================

/* Extra small devices (mobiles, 480px and up) */
@media (min-width: @screen-xs-min) {
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

	// body
	body {
		
		// set the container padding to be default
		// we make it bigger on mobile (Gutter is 20px)
		.container { padding-left: floor((@grid-gutter-width / 2)); padding-right:floor((@grid-gutter-width / 2)); }
		
		// wrapper
		.wrapper {

			// splash
			// set the splash height to be smaller on tablet & desktop
			.splash {
				
				// hue
				.hue {

					// intro
					.intro {
						margin-top:50px;

						// link
						ul {
							margin-top: 23px;
							
							// listing
							li {
								width: auto;
								a {
									width: 220px;
								}
							}
						}
					}
				}

				// sub
				&.sub {
					height: 792px;
				}
			}
			
			// highlight
			.highlight {
				padding-bottom: 65px;
				
				// container
				.container {
					
					// intro
					.intro {
						margin:0 0 50px 0;	
					}
					
					// row 
					.row {
						
						// columns
						[class*='col-'] {
			
							// padding
							padding-left: 30px;
							padding-right: 30px;
			
							// first child
							&:first-child {
								padding-right: 50px;
								padding-left: 10px;	
							}
			
							// last child
							&:last-child {
								padding-left: 50px;
								padding-right: 10px;	
							}
							
							// more info
							.more-info {
								margin-bottom: 0px;
							}
						}
					}
				}
			}
			
			// events
			.events {
				
				// hue
				.hue {
					padding: 65px 0 0px 0;
					
					// wrap
					.wrap {
						width: 80%;
					}
				}
			}
			
			// news
			.news {
				padding: 60px 0 60px 0;
				
				// container
				.container {
					
					// intro
					.intro {
						margin:0 0 50px 0;	
					}
					
					// row 
					.row {
						
						// columns
						[class*='col-'] {
			
							// padding
							padding-left: 30px;
							padding-right: 30px;
			
							// first child
							&:first-child {
								padding-right: 50px;
								padding-left: 10px;	
							}
			
							// last child
							&:last-child {
								padding-left: 50px;
								padding-right: 10px;	
							}
							
							// link 
							a {
								p {
									margin-bottom: 0px;
								}
							}
						}
					}
				}
			}

			// about us
			.aboutus {
				.container {
					.topintro {
						.facts {
							.row {
								.fact {
									padding: 40px 30px 50px;
								}
							}
						}
						.abouttext {
							border-left: 0px;
							border-right: 0px;
							border-bottom: 0px;
							padding: 0 0 0 50px;

							// row
							.row {

								// columns
								[class*='col-'] {
									.box-link {
										width: auto;
									}
								}
							}
						}
					}
				}
			}

			// features
			.features {
				margin-top: 50px;

				// photo
				.carousel {

					// pointy
					.pointy {
						display: block;
					}

					// item
					.item {

						// entries
						.workspace, .workshop, .internship {

							// yellow hue
							.hue {
								padding-top: 150px;
							}
						}
					}

					// indicators
					.carousel-indicators { 
						width: auto;
						margin-left: 0;
						top:50%;
						right: 20px;
						left: auto;
						margin-top: -20px;

						// bullet
						li {
							display: block;
							margin: 10px 0 0 0;

							&.active {
								margin: 10px 0 0 0;
							}
						}
					}
				}
			}

			// footer
			footer {
				
				// container
				.container {
		
					// row 
					.row {
						
						// right
						.right {
							text-align: right;
						}
					}
				}
			}
		}
	}
}

/* Medium devices (tablet landscape, 992px and up) */
@media (min-width: @screen-md-min) {

	// body
	body {

		// wrapper
		.wrapper {

			// events
			.events {
				
				// hue
				.hue {
					padding: 80px 0 0px 0;
				}
			}

			// about us
			.aboutus {
				.container {
					.topintro {
						border-left: 1px solid #dfdfdf;

						.facts {
							.row {
								.fact {
									padding: 40px 40px 50px 40px;
									border-left: 0px;

									// hide bottom border
									&:last-child {
										border-bottom: none;
									}
								}
							}
						}
						.abouttext {
							border-left: 0px;
							border-right: 0px;
							border-bottom: 0px;
							padding: 0 0 0 50px;

							// blockquote & source
							h2 {
								margin-top: 25px;
							}

							// row
							.row {
								margin-top:25px;

								// columns
								[class*='col-'] {
									.box-link {
										width: auto;
									}

									// set the spacing
									&:first-child {
										padding-right: 30px;
									}
									&:last-child {
										padding-left: 30px;
									}
								}
							}
						}
					}
				}
			}

			// features
			.features {
				margin-top: 0px;

				// photo
				.carousel {

					// pointy
					.pointy {
						display: block;
					}

					// item
					.item {

						// entries
						.workspace, .workshop, .internship {

							// yellow hue
							.hue {
								padding-top: 150px;

								// wrap
								.wrap {
									width: 60%;
								}
							}
						}
					}
				}
			}

			// members
			.members {
				
				// container
				.container {

					// people
					.list {

						// person
						.person {

							&.left {
								padding-right: 30px;
							}
							&.mid {
								padding-left: 20px;
								padding-right: 20px;
							}
							&.right {
								padding-left: 30px;
							}
						}
					}
				}
			}
		}
	}
}

/* Medium devices (desktops, 1025px and up) - Custom styling */
@media (min-width: 1025px) {

	// body
	body {

		// wrapper
		.wrapper {
			
			// header
			header {
				
				// stuck
				&.stuck {

					// menu
					.menu {
						margin-top:17px;
						
						// nav
						a {
							font-size: 1.077em;
						}
					}
				}

				// menu
				.menu {

					// nav
					a {
						font-size: 1.077em;
					}
				}
			}
			
			// splash
			.splash {

				// hue
				.hue {

					// intro
					.intro {
						margin-top:70px;
					}
				}
			}
		}
		
		// menu on the right
		// make it smaller on desktop
		.cbp-spmenu-vertical {
			
			// item
			.item {
				
				// li
				li {
					margin-bottom: 7px;
					
					//
					a {
						font-size: 1.077em;
					}
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

	// body
	body {

		// wrapper
		.wrapper {

			// splash
			.splash {

				// hue
				.hue {

					// intro
					.intro {
												
						// text
						p {
							width: 80%;
						}
					}

					// timeline
					.timeline {
						width: 60%;
					}
				}
			}

			// about us
			.aboutus {
				.container {
					.topintro {
						
						.abouttext {

							// top icon
							.comment-icon {
								margin-top:60px;
							}

							// blockquote & source
							h2 {
								margin-top: 35px;
							}

							// row
							.row {
								margin-top:35px;
							}
						}
					}
				}
			}

			// features
			.features {

				// photo
				.carousel {

					// item
					.item {

						// entries
						.workspace, .workshop, .internship {

							// yellow hue
							.hue {
								padding-top: 165px;
							}
						}
					}
				}
			}
		}
	}
}